.badge.bg-light,
.badge.bg-warning,
.badge.bg-info {
    color: currentColor;
}

.badge.bg-secondary:hover,
.badge.bg-primary:hover,
.badge.bg-danger:hover,
.badge.bg-sussess:hover,
.badge.bg-dark:hover {
    color: #fff;
}

.badge.bg-info:hover,
.badge.bg-warning:hover,
.badge.bg-light:hover {
    color: currentColor;
}

a.badge, a.badge:hover {
    text-decoration: none;
}
