/*!
 * bootScore WooCommerce 5.3.4 (https://bootscore.me/)
 */

// Classic
@import "bootscore_woocommerce/wc_ajax_cart";
@import "bootscore_woocommerce/wc_alerts";
@import "bootscore_woocommerce/wc_breadcrumb";
@import "bootscore_woocommerce/wc_cart";
@import "bootscore_woocommerce/wc_buttons";
@import "bootscore_woocommerce/wc_checkout";
@import "bootscore_woocommerce/wc_comments";
@import "bootscore_woocommerce/wc_form_login";
@import "bootscore_woocommerce/wc_forms";
@import "bootscore_woocommerce/wc_loader";
@import "bootscore_woocommerce/wc_loop";
@import "bootscore_woocommerce/wc_my_account";
@import "bootscore_woocommerce/wc_my_account_offcanvas";
@import "bootscore_woocommerce/wc_qty_btn";
@import "bootscore_woocommerce/wc_prices";
@import "bootscore_woocommerce/wc_product";
@import "bootscore_woocommerce/wc_product_grouped";
@import "bootscore_woocommerce/wc_product_single";
@import "bootscore_woocommerce/wc_product_variable";
@import "bootscore_woocommerce/wc_recycle_bin";
@import "bootscore_woocommerce/wc_sale_badge";
@import "bootscore_woocommerce/wc_shipping";
@import "bootscore_woocommerce/wc_shop_page";
@import "bootscore_woocommerce/wc_tables";
@import "bootscore_woocommerce/wc_tabs";
@import "bootscore_woocommerce/wc_thank_you";
@import "bootscore_woocommerce/wc_widgets";
@import "bootscore_woocommerce/wc_colors";

// Blocks
@import "bootscore_woocommerce/blocks/wc_block_components";
@import "bootscore_woocommerce/blocks/totals/wc_block_totals";
@import "bootscore_woocommerce/blocks/totals/wc_block_totals_coupon";
@import "bootscore_woocommerce/blocks/cart/wc_block_cart";
@import "bootscore_woocommerce/blocks/cart/wc_block_cart_cross_sells";
@import "bootscore_woocommerce/blocks/wc_block_checkout";
