/*!
 * bootScore WooCommerce 5.2.0.0 (https://bootscore.me/)
 */

@import "bootscore_woocommerce/wc_alerts";
@import "bootscore_woocommerce/wc_cart";
@import "bootscore_woocommerce/wc_buttons";
@import "bootscore_woocommerce/wc_checkout";
@import "bootscore_woocommerce/wc_comments";
@import "bootscore_woocommerce/wc_forms";
@import "bootscore_woocommerce/wc_loader";
@import "bootscore_woocommerce/wc_loop";
@import "bootscore_woocommerce/wc_my_account";
@import "bootscore_woocommerce/wc_qty_btn";
@import "bootscore_woocommerce/wc_offcanvas_cart";
@import "bootscore_woocommerce/wc_prices";
@import "bootscore_woocommerce/wc_product";
@import "bootscore_woocommerce/wc_product_grouped";
@import "bootscore_woocommerce/wc_product_single";
@import "bootscore_woocommerce/wc_product_variable";
@import "bootscore_woocommerce/wc_sale_badge";
@import "bootscore_woocommerce/wc_shipping";
@import "bootscore_woocommerce/wc_shop_page";
@import "bootscore_woocommerce/wc_tables";
@import "bootscore_woocommerce/wc_tabs";
@import "bootscore_woocommerce/wc_thank_you";
@import "bootscore_woocommerce/wc_widgets";
@import "bootscore_woocommerce/wc_colors";
