// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/*-----------------------------------------------------------------------------

  ATTENTION! This is the parent-theme's file. Your work will be lost by the 
  next update!

  Wouldn't you prefer to use one of our child themes and be update-safe?

  bootscore-child: 
  https://github.com/bootscore/bootscore-child/archive/refs/heads/main.zip

  bootcommerce-child:
  https://github.com/bootscore/bootcommerce-child/archive/refs/heads/main.zip

-----------------------------------------------------------------------------*/
