/*!
 * bootScore WooCommerce 5.2.0.0 (https://bootscore.me/)
 */

@import "bootscore_woocommerce/wc_alerts";
@import "bootscore_woocommerce/wc_buttons";
@import "bootscore_woocommerce/wc_checkout";
@import "bootscore_woocommerce/wc_comments";
@import "bootscore_woocommerce/wc_fonts";
@import "bootscore_woocommerce/wc_forms";
@import "bootscore_woocommerce/wc_loader";
@import "bootscore_woocommerce/wc_loop";
@import "bootscore_woocommerce/wc_my_account";
@import "bootscore_woocommerce/wc_offcanvas_cart";
@import "bootscore_woocommerce/wc_product";
@import "bootscore_woocommerce/wc_sale_badge";
@import "bootscore_woocommerce/wc_shipping";
@import "bootscore_woocommerce/wc_shop_page";
@import "bootscore_woocommerce/wc_tables";
@import "bootscore_woocommerce/wc_tabs";
@import "bootscore_woocommerce/wc_thank_you";
@import "bootscore_woocommerce/wc_colors";


// This file will be deleted later
@import "bootscore_woocommerce/wc_temporary_unsorted";


