/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/*-----------------------------------------------------------------------------

  ATTENTION! This is the parent-theme's file. Your work will be lost by the 
  next update!

  Wouldn't you prefer to use one of our child themes and be update-safe?

  bootscore-child: 
  https://github.com/bootscore/bootscore-child/archive/refs/heads/main.zip

  bootcommerce-child:
  https://github.com/bootscore/bootcommerce-child/archive/refs/heads/main.zip

-----------------------------------------------------------------------------*/


@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekanweblightfanum";
  src: url("fonts/iranyekanweblightfanum.eot"), url("fonts/iranyekanweblightfanum.woff") format("woff"),
  url("fonts/iranyekanweblightfanum.ttf") format("truetype");
}


body {
  background-color: $primary !important;
  font-family: "iranyekanweblightfanum" !important;
}


.ltr {
  direction: ltr;
}

.font-w-900 {
  font-weight: 900;
}

.font-w-700 {
  font-weight: 700;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}