/*--------------------------------------------------------------
WooCommerce Forms
--------------------------------------------------------------*/

// Forms
.woocommerce form .form-row {
  padding: 0;
  margin: 0 0 $spacer;

  label {
    line-height: 1.5;
    margin-bottom: $form-label-margin-bottom;
  }
}


// Show password icon
.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  top: 0.5em;
}



// Reduce gap in horizontal forms
.woocommerce form {
  .form-row-first {
    width: 50%;
    padding-right: $spacer *.5;
  }

  .form-row-last {
    width: 50%;
    padding-left: $spacer *.5;
  }
}


// Add missing .form-control
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  appearance: none; // Fix appearance for date inputs in Safari
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;

    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    }

    @else {
      box-shadow: $input-focus-box-shadow;
    }
  }
}


// Textarea
.woocommerce {

  // Fix checkout textarea focus
  form .form-row textarea {
    &:focus {
      box-shadow: $input-focus-box-shadow;
    }
  }

  // Height
  form .form-row textarea,
  textarea#order_comments, // WC 9.7
  #reviews #comment {
    height: $spacer *7;
  }
}


// Checks

.woocommerce form .form-row .input-checkbox {
  // Reset WC CSS
  margin: .25em 0 0 0;
}

.checkbox,
.woocommerce-form-login__rememberme,
.comment-form-cookies-consent,
.woocommerce-SavedPaymentMethods-saveNew {
  display: block;
  min-height: $form-check-min-height;
  padding-left: $form-check-padding-start;
  margin-bottom: $form-check-margin-bottom;

  input {
    float: left;
    margin-left: $form-check-padding-start * -1;

    --#{$prefix}form-check-bg: #{$form-check-input-bg};

    flex-shrink: 0;
    width: $form-check-input-width;
    height: $form-check-input-width;
    margin-top: ($line-height-base - $form-check-input-width) * .5; // line-height minus check height
    vertical-align: top;
    appearance: none;
    background-color: var(--#{$prefix}form-check-bg);
    background-image: var(--#{$prefix}form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: $form-check-input-border;
    print-color-adjust: exact; // Keep themed appearance for print
    @include transition($form-check-transition);

    &[type="checkbox"] {
      @include border-radius($form-check-input-border-radius);
    }

    &:active {
      filter: $form-check-input-active-filter;
    }

    &:focus {
      border-color: $form-check-input-focus-border;
      outline: 0;
      box-shadow: $form-check-input-focus-box-shadow;
    }

    &:checked {
      background-color: $form-check-input-checked-bg-color;
      border-color: $form-check-input-checked-border-color;

      &[type="checkbox"] {
        @if $enable-gradients {
          --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-checked-bg-image)},
          var(--#{$prefix}gradient);
        }

        @else {
          --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-checked-bg-image)};
        }
      }
    }
  }
}


// Radios
ul.wc_payment_methods.payment_methods.methods li,
.woocommerce-shipping-methods li,
.shipping.recurring-total ul {

  font-weight: normal;
  display: block;
  min-height: $form-check-min-height;
  padding-left: $form-check-padding-start;
  margin-bottom: $form-check-margin-bottom;

  input {
    float: left;
    margin-left: $form-check-padding-start * -1;

    --#{$prefix}form-check-bg: #{$form-check-input-bg};

    flex-shrink: 0;
    width: $form-check-input-width;
    height: $form-check-input-width;
    margin-top: ($line-height-base - $form-check-input-width) * .5; // line-height minus check height
    vertical-align: top;
    appearance: none;
    background-color: var(--#{$prefix}form-check-bg);
    background-image: var(--#{$prefix}form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: $form-check-input-border;
    print-color-adjust: exact; // Keep themed appearance for print
    @include transition($form-check-transition);

    &[type="radio"] {
      // stylelint-disable-next-line property-disallowed-list
      border-radius: $form-check-radio-border-radius;
    }

    &:active {
      filter: $form-check-input-active-filter;
    }

    &:focus {
      border-color: $form-check-input-focus-border;
      outline: 0;
      box-shadow: $form-check-input-focus-box-shadow;
    }

    &:checked {
      background-color: $form-check-input-checked-bg-color;
      border-color: $form-check-input-checked-border-color;

      &[type="radio"] {
        @if $enable-gradients {
          --#{$prefix}form-check-bg-image: #{escape-svg($form-check-radio-checked-bg-image)},
          var(--#{$prefix}gradient);
        }

        @else {
          --#{$prefix}form-check-bg-image: #{escape-svg($form-check-radio-checked-bg-image)};
        }
      }
    }
  }
}


// Reset WC shipping CSS
.woocommerce ul#shipping_method {

  li {
    padding-left: $form-check-padding-start;
    margin-bottom: $form-check-margin-bottom;

    input {
      //margin-left: $form-check-padding-start * -1;
      margin: 4px 0 0 $form-check-padding-start * -1;
    }
  }
}


// Reset subscription shipping CSS
.shipping.recurring-total ul {
  padding-left: 0;

  li {
    padding: 0 0 0 $form-check-padding-start;
    margin-bottom: $form-check-margin-bottom;
    text-indent: 0;

    input {
      margin: 4px 0 0 $form-check-padding-start * -1;
    }
  }
}










// Fix checkout select and textarea since WC 9.7
// See https://github.com/bootscore/bootscore/pull/957
.woocommerce form .form-row {
  
  .input-text,
  select {
    font-family: $input-font-family;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    padding: $input-padding-y $input-padding-x;
    background-color: $input-bg;
    border: $form-select-border-width solid $form-select-border-color;
    border-radius: $input-border-radius;
    color: $input-color;
    line-height: $input-line-height;

    &:focus {
      border-color: $input-focus-border-color;
    }
  }

  select {
    background-image: var(--#{$prefix}form-select-bg-img), var(--#{$prefix}form-select-bg-icon, none);
    background-size: $form-select-bg-size;
    background-position: $form-select-bg-position;
  }

  // Validation
  &.woocommerce-invalid select:focus {
    border-color: var(--#{$prefix}form-invalid-border-color);
  }

  &.woocommerce-validated select:focus {
    border-color: var(--#{$prefix}form-valid-color);
  }
}


// Hide Feedback 
.checkout-inline-error-message {
  display: none;
}







// Fix select in blockified classic checkout
// https://github.com/bootscore/bootscore/issues/918
// https://github.com/bootscore/bootscore/pull/957
@if $enable-dark-mode {
  @include color-mode(dark) {
    .woocommerce .select2-container--default .select2-selection--single {
      --#{$prefix}form-select-bg-img: #{escape-svg($form-select-indicator-dark)};
    }
  }
}  

.woocommerce {
  
  // Create a select
  .select2-container--default .select2-selection--single {
    --#{$prefix}form-select-bg-img: #{escape-svg($form-select-indicator)};

    background-color: $input-bg;
    border: $form-select-border-width solid $form-select-border-color;
    border-radius: $input-border-radius;
    background-image: var(--#{$prefix}form-select-bg-img), var(--#{$prefix}form-select-bg-icon, none);
    background-size: $form-select-bg-size;
    background-position: $form-select-bg-position;
    background-repeat: no-repeat;
  }
      
  .select2-container .select2-selection--single {
    height: auto;
    margin: 0;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: $input-padding-y $input-padding-x;
    line-height: $input-line-height;
    color: $input-color;
    font-weight: $input-font-weight;
  }

  // Hide arrow
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
  }
}
   
// Validation    
.woocommerce form {
  .form-row {
    &.woocommerce-validated,
    &.woocommerce-invalid {
      .select2-container:not(.select2-container--open) .select2-selection {
        background-image: var(--#{$prefix}form-select-bg-img);
        padding-right: $form-select-feedback-icon-padding-end;
        background-position: $form-select-bg-position, $form-select-feedback-icon-position;
        background-size: $form-select-bg-size, $form-select-feedback-icon-size;
      }
    }

    &.woocommerce-validated {
      .select2-container:not(.select2-container--open) .select2-selection {
        border-color: var(--#{$prefix}form-valid-color);
        background-image: var(--#{$prefix}form-select-bg-img), var(--valid-icon);
      }

      .select2-container:not(.select2-container--open) .select2-selection:focus-visible {
        box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}success-rgb), $input-btn-focus-color-opacity);
        outline: 0;
      }
    }

    &.woocommerce-invalid {
      .select2-container:not(.select2-container--open) .select2-selection {
        border-color: var(--#{$prefix}form-invalid-border-color);
        background-image: var(--#{$prefix}form-select-bg-img), var(--invalid-icon);
      }
    }
  }
}


// Dropdown
.select2-container {
  .select2-dropdown,
  .select2-selection {
    background-color: $dropdown-bg;
    color: $dropdown-color;
    border: $dropdown-border-width solid $dropdown-border-color;
    border-radius: $dropdown-border-radius;
  }

  .select2-results {
    padding: $dropdown-padding-y 0;
  }

  // Search input form-control
  &--default .select2-search--dropdown {
    padding: $spacer !important;

    .select2-search__field {
      border: $input-border-width solid $input-border-color !important;
      background-color: $input-bg;
      border-radius: $input-border-radius !important;
      padding: $input-padding-y $input-padding-x;
      font-family: $input-font-family;
      @include font-size($input-font-size);
      font-weight: $input-font-weight;
      line-height: $input-line-height;

      &:focus-visible {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color !important;
        outline: 0;

        @if $enable-shadows {
          @include box-shadow($input-box-shadow, $input-focus-box-shadow);
        } @else {
          box-shadow: $input-focus-box-shadow;
        }
      }
    }
  }
}



// List
.select2-container--default {
  .select2-results__option {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x !important;

    &[aria-selected="true"],
    &[data-selected="true"] {
      background-color: var(--#{$prefix}tertiary-bg) !important;

      &:focus-visible {
        outline: 0;
      }
    }

    // Items
    &--highlighted[aria-selected],
    &--highlighted[data-selected] {
      background-color: var(--#{$prefix}primary) !important;
      color: color-contrast($primary) !important;
    }
  }
}
