/*--------------------------------------------------------------
WooCommerce Variable Product
--------------------------------------------------------------*/

// Variations select
.woocommerce div.product form.cart .variations {

  select {
    margin-right: 0;
  }

  // Fix the clear button (WC 9.5) 
  .reset_variations {
    border: none;
    background: none;
    padding: 0;
    color: var(--#{$prefix}link-color);
  }
}


// Quantity and add-to-cart-button
form.variations_form.cart {
  flex-direction: column;
}

.woocommerce-variation-add-to-cart.variations_button {
  display: flex;
}


// Enable window alert on btn click if no selection is made
.woocommerce button.disabled.button,
.woocommerce div.product form.cart button.disabled.button {
  pointer-events: auto;
  cursor: inherit;
}

.woocommerce-variation-price {
  margin-bottom: $spacer;
}