/*--------------------------------------------------------------
WooCommerce Single Product Tabs
--------------------------------------------------------------*/

// Make tabs horizontally scrollable
.tab-scroller {
  white-space: nowrap;

  .nav {
    flex-wrap: nowrap;
  }

  // Hide scrollbars
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}
