/*--------------------------------------------------------------
WooCommerce Comments - Bootscore v6.2.2
--------------------------------------------------------------*/

#woo-comments {

  // Nested comments, allow only 1 depth
  .comment-list > li > .children:first-of-type {
    padding-left: 96px;
  }

  // Star rating
  .star-rating {
    float: right;
    margin: 0;
  }
}


// WC 10.0.0 review rating stars
// https://github.com/bootscore/bootscore/pull/1053
.woocommerce {
  p.stars a {
    font-size: inherit;
  }
}
