/*--------------------------------------------------------------
WooCommerce Coupon
--------------------------------------------------------------*/


// Coupon
.woocommerce-cart {
  table.cart td.actions .coupon .input-text {

    // Override WooCommerce form CSS
    float: none;
    margin: 0;
    padding: $input-padding-y $input-padding-x;
    border: $input-border-width solid $input-border-color;
    background-color: $input-bg;

    // Add border-radius to form because first hidden item inside the input-group is the label
    border-top-left-radius: $input-border-radius !important;
    border-bottom-left-radius: $input-border-radius !important;

    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    &:focus {
      color: $input-focus-color;
      background-color: $input-focus-bg;
      border-color: $input-focus-border-color;
      outline: 0;
      box-shadow: $input-focus-box-shadow;
    }

    &::placeholder {
      color: $input-placeholder-color;
      opacity: 1;
    }
  }

  .coupon {
    // create .input-group
    position: relative;
    display: flex;
    flex-wrap: wrap; // For form validation feedback
    align-items: stretch;
    width: 100%;

    input {
      position: relative; // For focus state's z-index
      flex: 1 1 auto;
      width: 1%;
      min-width: 0;

      &:focus {
        z-index: 5;
      }
    }

    button {
      // Create .input-group-text
      display: flex;
      align-items: center;
      text-align: center;
      white-space: nowrap;
    }

    > :not(:last-child) {
      @include border-end-radius(0);
    }

    > :not(:first-child) {
      margin-left: calc(#{$input-border-width} * -1);
      @include border-start-radius(0);
    }
  }

  // WooCommerce breakpoints are at 769px
  @media (min-width: 769px) {
    .coupon {
      width: 400px;
    }
  }
}




// Coupon input group checkout
.woocommerce form.checkout_coupon {

  display: flex;
  flex-wrap: wrap;

  // Coupon message
  p:first-child {
    width: 100%;
  }

  .form-row-first {
    padding-right: 0;
    width: auto;
    flex-grow: 1;

    .input-text {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .form-row-last {
    padding-left: 0;
    width: auto;

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}