/*--------------------------------------------------------------
WooCommerce My Account Offcanvas - Bootscore v6.4.0
--------------------------------------------------------------*/


#offcanvas-user {
  .woocommerce {

    // form-login
    .col2-set {

      .col-1,
      .col-2 {
        width: 100%;
      }
    }

    &-MyAccount-content {
      p:last-child {
        // Hide introtext, links do not link to my-account.php
        display: none;
      }
    }
  }

  // my-account
  .col-md-4,
  .col-lg-3 {
    width: 100%;
  }

  // Salution before menu
  .col {
    order: -1;
  }
}


// Ajax loader
.ajax-login-loader {
  display: none;
}

.ajax-login .ajax-login-loader {
  display: flex;
}
