/*--------------------------------------------------------------
WooCommerce Single Product
--------------------------------------------------------------*/

// Quantity and add-to-cart-button
.woocommerce {
  div.product form.cart {
    display: flex;
    flex-wrap: wrap;

    div.quantity {
      float: none;
      margin-right: $spacer;
    }
  }

  // Add-to-cart-button
  div.product form.cart .button {
    flex-grow: 1;
  }
}
