//.wc-block-components-product-badge.wc-block-components-sale-badge,
//.wc-block-components-order-summary-item__quantity {
.wc-block-components {

  &-sale-badge,
  &-order-summary-item__quantity {
    display: inline-block;

    padding: $badge-padding-y $badge-padding-x;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: 1;
    color: $badge-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $badge-border-radius;

    background-color: var(--#{$prefix}danger);
  }
}
