/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

// Navbar height
html {
  scroll-padding-top: 55px;
}

// Reset Bootstrap last nav-bar nav-link padding
#nav-main .menu-item:last-child .nav-link {
  padding-right: 0;
}
