/*--------------------------------------------------------------
Single page-*.php and post-*.php
--------------------------------------------------------------*/

// Featured image
.wp-post-image {
  width: 100%;
}

// Featured full-width- image
.featured-full-width-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Pagination
[rel="prev"]:before {
  content: "« ";
}

[rel="next"]:after {
  content: " »";
}
