/*--------------------------------------------------------------
Temporary
--------------------------------------------------------------*/


// scroll-behaviour: smooth not supportet by Safari. 
// jQuery smooth scroll script will be removed when Safari supports it */
html {
  scroll-behavior: auto !important;
}


// Prefix webkit browsers checks, select and form-range
.form-check-input, .form-select {
  -webkit-appearance: none;
}

.form-range {
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
}


// Remove autop (WP 5.7 bug near shortcode)
// https://wordpress.org/support/topic/how-to-stop-wp-from-adding-p-tag-automatically/
p:empty:before {
  content: none;
}


// Hide racaptcha v3 badge 
.grecaptcha-badge {
  display: none !important;
}