/*!
 * Bootscore WooCommerce 6.0.0-beta1 (https://bootscore.me/)
 */

@import "bootscore-woocommerce/wc-ajax-cart";
@import "bootscore-woocommerce/wc-alerts";
@import "bootscore-woocommerce/wc-breadcrumb";
@import "bootscore-woocommerce/wc-cart";
@import "bootscore-woocommerce/wc-buttons";
@import "bootscore-woocommerce/wc-checkout";
@import "bootscore-woocommerce/wc-comments";
@import "bootscore-woocommerce/wc-form-login";
@import "bootscore-woocommerce/wc-forms";
@import "bootscore-woocommerce/wc-loader";
@import "bootscore-woocommerce/wc-loop";
@import "bootscore-woocommerce/wc-my-account";
@import "bootscore-woocommerce/wc-my-account-offcanvas";
@import "bootscore-woocommerce/wc-qty-btn";
@import "bootscore-woocommerce/wc-prices";
@import "bootscore-woocommerce/wc-product";
@import "bootscore-woocommerce/wc-product-grouped";
@import "bootscore-woocommerce/wc-product-variable";
@import "bootscore-woocommerce/wc-deprecated";
@import "bootscore-woocommerce/wc-sale-badge";
@import "bootscore-woocommerce/wc-shipping";
@import "bootscore-woocommerce/wc-shop-page";
@import "bootscore-woocommerce/wc-tables";
@import "bootscore-woocommerce/wc-tabs";
@import "bootscore-woocommerce/wc-thank-you";
@import "bootscore-woocommerce/wc-widgets";
@import "bootscore-woocommerce/wc-colors";

@import "bootscore-woocommerce/blocks/wc-block-widgets";
