/*--------------------------------------------------------------
Block Patterns
--------------------------------------------------------------*/


// Fix .hide-wp-block-classes.is-layout-flow group block margins in GB edit screen
// See https://github.com/bootscore/bootscore/pull/977
:root :where(.editor-styles-wrapper) {

  :where(.hide-wp-block-classes.is-layout-flow) {

    // .hide-wp-block-classes.is-layout-flow group block margins
    & > :first-child {
      margin-block-start: auto;
    }
  }
}
