/*--------------------------------------------------------------
Admin bar
--------------------------------------------------------------*/

// Mobile
@use "../bootstrap/layout/breakpoints" as *;

@include media-breakpoint-down(md) {
  #wpadminbar {
    position: fixed;
  }
}


.logged-in.admin-bar {

  // Push content down when WP admin-bar is visible
  .fixed-top,
  .sticky-top, {
    top: var(--wp-admin--admin-bar--height, 32px);
  }

  /*
  // Adjust modal height
  .modal-fullscreen,
  .modal-fullscreen-sm-down,
  .modal-fullscreen-md-down,
  .modal-fullscreen-lg-down,
  .modal-fullscreen-xl-down,
  .modal-fullscreen-xxl-down {
    height: calc(100% - var(--wp-admin--admin-bar--height, 32px));
  }
    */
}