/*--------------------------------------------------------------
Admin bar
--------------------------------------------------------------*/

// Mobile
@use "../bootstrap/layout/breakpoints" as *;

@include media-breakpoint-down(md) {
  #wpadminbar {
    position: fixed;
  }
}


.logged-in.admin-bar {

  // Push content down when WP admin-bar is visible
  .fixed-top,
  .sticky-top {
    top: var(--wp-admin--admin-bar--height, 32px);
  }

  /*
  // Adjust overlays height
 .drawer {
    height: calc(100% - var(--wp-admin--admin-bar--height, 32px));
  }
  */
}
