/*--------------------------------------------------------------
Breadcrumb
--------------------------------------------------------------*/

// Breadcrumb active item padding if is in a horizontal scroll wrapper
.overflow-x-auto {

  scrollbar-color: rgba(var(--#{$prefix}body-color-rgb),.16) transparent;
    
  .breadcrumb-item {
    &.active {
      padding-right: $spacer;
    }

    + .breadcrumb-item::before {
      float: none;
    }
  }
}
