/*--------------------------------------------------------------
Colors - Bootscore v6.2.2
--------------------------------------------------------------*/

// Text selection
::selection {
  color: var(--#{$prefix}white);
  background-color: var(--#{$prefix}primary);
}

::-moz-selection {
  color: var(--#{$prefix}white);
  background-color: var(--#{$prefix}primary);
}
