/*--------------------------------------------------------------
Deprecated
--------------------------------------------------------------*/

// Remove autop (WP 5.7 bug near shortcode)
// https://wordpress.org/support/topic/how-to-stop-wp-from-adding-p-tag-automatically/
p:empty:before {
  content: none;
}

// Hide racaptcha v3 badge
.grecaptcha-badge {
  display: none !important;
}



// Hotfix password protected input-group button
// Function creates <br> tags?
.pw_form .btn {
  border-top-right-radius: $btn-border-radius !important;
  border-bottom-right-radius: $btn-border-radius !important;
}



