/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

// Make the footer stick to the bottom
html,
body {
  height: 100%;
}

#page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}


// Reset padding-left in Footer menu
#footer-menu li a {
  padding-left: 0;
}
