/*--------------------------------------------------------------
Icons - Bootscore v7.0.0
--------------------------------------------------------------*/

.bs-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}