/*--------------------------------------------------------------
Markup - Bootscore v7.0.0
--------------------------------------------------------------*/


//HTML Markups (Theme Unit Test Data)

img {
  height: auto;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}
