/*--------------------------------------------------------------
To top button 
--------------------------------------------------------------*/


// Refactor to scroll-driven CSS?
.top-button {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear .3s, opacity .3s;

  &.visible {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity .3s;
  }
}
