/*--------------------------------------------------------------
Utilities - Bootscore v7.0.0
--------------------------------------------------------------*/


// Clearfix
.clear-both {
  clear: both;
}

// z-index
.zi-1000 {
  z-index: 1000;
}

.zi-1020 {
  z-index: 1020;
}

.zi-1030 {
  z-index: 1030;
}

.zi-1040 {
  z-index: 1040;
}

.zi-1050 {
  z-index: 1050;
}

.zi-1060 {
  z-index: 1060;
}

.zi-1070 {
  z-index: 1070;
}

.zi-n1 {
  z-index: -1;
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

// Focus
.focus-none {
  box-shadow: none;
  outline: 0;
}

// Hide scrollbars
.scrollbar-none {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Hide elements based on [data-bs-theme=""]
.d-tl-none {
  display: none;
}

[data-bs-theme="dark"] {

  .d-td-none {
    display: none;
  }

  .d-tl-none {
    display: block;
  }
}
