@media (max-width: 991px) {
    #nav-main .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
    }

    #nav-main {
        min-height: 56px;
    }
}

#offcanvas-cart-right {
    padding-bottom: 208px;
}

.cart-list {
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
}

.cart-list .cart-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    max-width: 100%;
}

.cart-list .woocommerce-mini-cart-item,
.cart-list .cart-footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cart-list .woocommerce-mini-cart__empty-message.alert {
    margin-left: 1rem;
    margin-right: 1rem;
}

.cart-loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 56px;
    z-index: 1
}

.cart-loader .loader-icon {
    margin-top: -56px
}

#offcanvas-cart-right.show .cart-loader {
    opacity: 0;
    transition: opacity .3s, visibility .3s;
    transition-delay: 1s;
    visibility: hidden
}

#offcanvas-cart-right .cart-loader {
    opacity: 1;
    visibility: visible;
    transition: opacity .1s;
    transition-delay: .3s
}

#offcanvas-cart-right .offcanvas-body {
    margin-top: 56px;
}

#offcanvas-user-left .offcanvas-body {
    margin-top: 56px;
}

@media (max-width: 991px) {
    #offcanvas-menu-left .offcanvas-body {
        margin-top: 56px;
    }
}

@media (max-width: 991px) {

    .navbar-toggler.left,
    .top-nav-search-md #dropdown-search {
        padding-left: 0;
        border: none;
    }

    .user-toggler.right,
    .cart-toggler.right {
        padding-right: 0;
        border: none;
    }

    .navbar-toggler.left:focus {
        box-shadow: none;
    }

    .user-toggler.right:hover,
    .user-toggler.right.active,
    .cart-toggler.right:hover,
    .cart-toggler.right.active {
        color: currentColor;
        background-color: transparent;
        border-color: transparent;
    }

}
