/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.  Header
2.  WooCommerce display none
3.  WooCommerce
4.  Colors

--------------------------------------------------------------*/






/*--------------------------------------------------------------
3. WooCommerce
--------------------------------------------------------------*/

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: none;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: none;
}

.woocommerce .woocommerce-ordering {
  margin: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  float: none;
  width: 100%;
}

.woocommerce-account .woocommerce-MyAccount-content {
  float: none;
  width: 100%;
}

.woocommerce .woocommerce-customer-details address {
  border: 0;
  width: 100%;
  padding: 0;
}

.woocommerce form .form-row {
  padding: 0;
  margin: 0 0 1rem;
}

.woocommerce form .form-row label {
  line-height: 1.5;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
}

.group_table .add-to-cart-container {
  width: 130px;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  float: none;
  border: 0;
  padding: 0;
}

.products .card .star-rating,
.card .star-rating {
  float: none;
  margin: 1rem auto;
}

.card .star-rating span::before {
  text-align: left;
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link,
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link:hover {
  text-decoration: none !important;
}

.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
  float: none;
  margin: 0.5rem 0;
}

.woocommerce-input-wrapper {
  width: 100%;
}

.badge.sale,
.badge.sale-product {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.25rem;
  z-index: 1;
}

.card.h-100.d-flex.product a:hover {
  text-decoration: none;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: none;
  width: 100%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: none;
  width: 100%;
}

@media (max-width: 768px) {
  .refresh-cart {
    width: 100%;
  }
}

.woocommerce table.shop_table td {
  border-top: 1px solid;
}

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
  border-top: 1px solid;
}

.woocommerce-price-suffix {
  display: block;
}

ins {
  text-decoration: none;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  border-radius: 0.25rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:nth-child(1) {
  margin-left: -16px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  z-index: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border-bottom-right-radius: 0;
  border-width: 0;
  box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-radius: 0.25rem 0.25rem 0 0;
}

button.single_add_to_cart_button.btn.btn-primary.disabled.wc-variation-selection-needed:hover {
  cursor: not-allowed;
}

.woocommerce div.product form.cart .variations select {
  margin-right: 0;
}

label.custom-control-label {
  line-height: 1.5 !important;
}

#payment label.form-check-label img {
  height: 1.25rem;
  margin-left: 0.25rem;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 0;
}

.woocommerce .blockUI.blockOverlay:before,
.woocommerce .loader:before,
#offcanvas-cart .blockUI.blockOverlay:before,
#offcanvas-cart .loader:before {
  height: 3em;
  width: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  display: block;
  content: '';
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  background: none;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.13em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.woocommerce-variation.single_variation {
  margin-bottom: 2rem;
}

.woocommerce .woocommerce-terms-and-conditions,
.woocommerce-page .woocommerce-terms-and-conditions {
  margin-bottom: 1rem;
  padding: 1.25rem;
}

.woocommerce-terms-and-conditions {
  border: none;
  box-shadow: none;
  border-radius: 0.25rem;
}

ul.tabs.wc-tabs {
  overflow-x: auto !important;
  white-space: nowrap;
}

.reviews_tab {
  margin-right: 0;
}

span.password-input {
  width: 100%;
}

#order_review .legal label {
  display: block !important;
}

.wc-gzd-product-name-left img {
  border-radius: 0.25rem;
  border: 1px solid transparent;
}



.place-order div {
  width: 100%;
}

button#place_order {
  width: 100%;
  margin-top: 1rem;
}

.woocommerce table.shop_attributes td {
  font-style: normal;
}

.woocommerce table.shop_attributes td {
  border-bottom: 1px solid;
}

.woocommerce table.shop_attributes th {
  border-bottom: 1px solid;
}

.woocommerce table.shop_attributes {
  border-top: 1px solid;
}

.product_meta .sku_wrapper::after,
.product_meta .posted_in::after {
  content: '\A';
  white-space: pre;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
  border-top: none;
}

@media (max-width: 768px) {
  td.actions,
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
  .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
}

ul.tabs.wc-tabs::-webkit-scrollbar {
  display: none;
}

ul.tabs.wc-tabs {
  -ms-overflow-style: none;
}

.pswp__caption__center {
  text-align: center;
}

@media (max-width: 991px) {
  a.btn.btn-outline-primary.btn-sm.invoice {
    margin-top: 0.25rem;
  }
}

@media (min-width: 992px) {
  a.btn.btn-outline-primary.btn-sm.invoice {
    margin-left: 0.25rem;
  }
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  top: 0.5em;
}

.woocommerce ul.order_details::before {
  content: '\f058';
}

@media (max-width: 767px) {
  .woocommerce ul.order_details li {
    border-right: none;
  }
  li.woocommerce-order-overview__order.order,
  li.woocommerce-order-overview__date.date,
  li.woocommerce-order-overview__email.email {
    margin-bottom: 1rem;
  }
  .woocommerce ul.order_details li {
    float: none;
  }
}

@media (min-width: 768px) {
  .woocommerce ul.order_details li {
    border-right: 1px solid;
  }
}

/* Block buttons download breakpoint WooCommerce is 769 px! */

@media (min-width: 769px) {
  a.woocommerce-MyAccount-downloads-file.btn.btn-outline-primary.btn-sm {
    display: block;
  }
}

.restore-item {
  font-weight: bold;
}

.woocommerce ul#shipping_method li {
  padding-left: 0;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  font-weight: normal;
}

.card .price .woocommerce-Price-amount.amount {
  font-size: 1.25rem;
}

.woocommerce div.product p.price .woocommerce-Price-amount.amount {
  font-size: 2.5rem;
}

.woocommerce-variation-price {
  font-size: 2rem;
}

.woocommerce div.product form.cart .variations {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .woocommerce ul#shipping_method {
    clear: both;
    text-align: left;
    margin: 2rem 0 0 0 !important;
  }
  .woocommerce-shipping-destination {
    text-align: left;
  }
  .woocommerce-shipping-calculator {
    text-align: left;
  }
}

/* Comments */
#woo-comments .star-rating {
  float: right;
  margin: 0;
}

#woo-comments .depth-2 {
  padding-left: 65px;
}

#woo-comments p:last-child {
  margin-bottom: 0;
}

/* Forms */
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  line-height: inherit;
}

/* Terms checkboxes */
.woocommerce form .form-row .input-checkbox {
  margin: 0.25em 0 0 -1.5rem;
  vertical-align: top;
}

#account_password {
  background-position: right 2.25rem center;
}

