
@media (max-width: 992px) {
    #nav-main .btn.focus, #nav-main .btn:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}


.card del .woocommerce-Price-amount.amount {
    color: var(--bs-danger) !important
}

del {
    color: var(--bs-danger)
}

.woocommerce form .form-row .required,
.woocommerce form .form-row.woocommerce-invalid label,
.woocommerce form .custom-validation.woocommerce-invalid label {
    color: var(--bs-danger)
}


.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: var(--bs-danger)
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: var(--bs-success)
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: var(--bs-success)
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
    opacity: 1
}

.card a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    color: currentColor
}

@media (max-width:768px) {

    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background-color: var(--bs-light)
    }
}

.woocommerce table.shop_table {
    border-color: rgba(0, 0, 0, .125)
}

.woocommerce table.shop_table td {
    border-color: rgba(0, 0, 0, .125)
}

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
    border-color: rgba(0, 0, 0, .125)
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    background-color: var(--bs-light);
    color: currentColor
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
    content: "";
    display: block;
    border: 1em solid var(--bs-light);
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    left: 0;
    margin: -1em 0 0 2em
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: var(--bs-light)
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.woocommerce-terms-and-conditions {
    background: var(--bs-light)
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: var(--bs-primary)
}

.woocommerce-checkout .shop_table {
    background-color: rgba(255, 255, 255, 0) !important
}

.wc-gzd-product-name-left img {
    border-color: rgba(0, 0, 0, .125)
}

#reviews #comments ol.commentlist li .comment-text {
    border-color: rgba(0, 0, 0, .125) !important;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    color: var(--bs-primary);
    background-color: transparent;
    border-color: var(--bs-primary);
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    color: #fff;
    background-color: var(--bs-primary);
}

.woocommerce div.product .stock {
    color: currentColor;
}

.woocommerce div.product .out-of-stock {
    color: var(--bs-danger);
}


/* Gallery Overlay */

.pswp__bg {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: grayscale(100%) blur(7px);
    -webkit-backdrop-filter: grayscale(100%) blur(7px);
}

.woocommerce .blockUI.blockOverlay,
.woocommerce .loader,
#offcanvas-cart-right .blockUI.blockOverlay,
#offcanvas-cart-right .loader {
    background-color: #fff !important;
    opacity: 1 !important;
}

.woocommerce .blockUI.blockOverlay:before,
.woocommerce .loader:before,
#offcanvas-cart-right .blockUI.blockOverlay:before,
#offcanvas-cart-right .loader:before {
    color: var(--bs-primary);
}

.woocommerce table.shop_attributes tr:nth-child(even) td,
.woocommerce table.shop_attributes tr:nth-child(even) th {
    background: var(--bs-light);
}

.woocommerce table.shop_attributes td {
    border-color: rgba(0, 0, 0, .125);
}

.woocommerce table.shop_attributes th {
    border-color: rgba(0, 0, 0, .125);
}

.woocommerce table.shop_attributes {
    border-color: rgba(0, 0, 0, .125);
}

.pswp__ui--fit .pswp__caption,
.pswp__ui--fit .pswp__top-bar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: var(--bs-dark);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: var(--bs-primary);
}


.woocommerce-info::before, .woocommerce-message::before, .restore-item, .restore-item:hover {
    color: inherit;
}

