/*--------------------------------------------------------------
WooCommerce Cart Block
--------------------------------------------------------------*/


// Cart block
.wc-block-components-sidebar-layout.wc-block-cart.wp-block-woocommerce-filled-cart-block {
  @include make-row();
}

.wc-block-components-main.wc-block-cart__main.wp-block-woocommerce-cart-items-block {
  @include make-col-ready();


  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.wc-block-components-sidebar.wc-block-cart__sidebar.wp-block-woocommerce-cart-totals-block {
  @include make-col-ready();

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}


/*
table.wc-block-cart-items.wp-block-woocommerce-cart-line-items-block,
.wp-block-woocommerce-cart-order-summary-block {
  @extend .card;
  @extend .card-body;
}

.wp-block-woocommerce-cart-order-summary-block {
  margin-bottom: $spacer;
}





.wc-block-cart-item__image {

  vertical-align: top;
  position: relative;
  max-width: 150px;
  padding-right: $spacer;

  img {
    border-radius: var(--#{$prefix}border-radius);
  }
}


.wc-block-cart-item__total {
  position: relative;
  vertical-align: top;
  width: 100px;
  text-align: right;
}

.wc-block-cart .wc-block-cart-items td {
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.wc-block-cart-items__row:not(:last-child) {
  border-bottom: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
}


.wc-block-cart-item__quantity {
  display: flex;
}
*/


// Cart items 

.wc-block-cart-items {

  // Create card
  border: $card-border-width var(--#{$prefix}border-style) $card-border-color;
  border-radius: $card-border-radius;
  background-color: $card-bg;
  border-collapse: inherit;
  border-spacing: 0;
  margin-bottom: $spacer;
  width: 100%;

  // Hide thead on small devices
  @include media-breakpoint-down(sm) {
    thead {
      display: none;
    }
  }


  &__header {
    // Create card-header
    margin-bottom: 0;
    color: $card-cap-color;
    background-color: $card-cap-bg;

    th {
      padding-top: $card-cap-padding-y;
      padding-bottom: $card-cap-padding-y;
      padding-left: $card-cap-padding-x;
      border-bottom: $card-border-width var(--#{$prefix}border-style) $card-border-color;
      font-weight: $headings-font-weight;

      &:first-child {
        //padding-left: $card-cap-padding-x;
      }

      &:last-child {
        padding-right: $card-cap-padding-x;
        text-align: right;
      }
    }
  }

  &__row td {
    position: relative;
    vertical-align: top;
    //padding: $list-group-item-padding-y 0 $list-group-item-padding-y $list-group-item-padding-x;

  }

  &__row:not(:last-child) td {
    border-bottom: $card-border-width var(--#{$prefix}border-style) $card-border-color;
  }
}



// Items

.wc-block-cart-item {

  &__image,
  &__product,
  &__total {
    padding-top: $card-spacer-y;
    padding-bottom: $card-spacer-y;
    padding-left: $card-spacer-x;
  }

  &__total {
    padding-right: $card-spacer-x;
    text-align: right;
  }


  &__image {
    //display: table-cell;
    width: 60px;

    @include media-breakpoint-up(md) {
      width: 140px;
    }

    img {
      border-radius: $border-radius;
    }
  }

  &__total {

    .price {
      font-weight: 700;
      display: block;
    }
  }

  &__image {
    //background: burlywood;
  }

  &__product {
    //background: antiquewhite;
  }

  &__total {
    //background: beige;
  }

}


.wc-block-components-product-metadata__description {
  font-size: $small-font-size;
  color: var(--#{$prefix}gray-600);

  p {
    //margin-bottom: 0;
  }


}





// Proceed to checkout btn lg
a.components-button.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained {
  //@extend .btn;
  //@extend .btn-primary;
  //@extend .btn-lg;
  width: 100%;
  padding: $btn-padding-y-lg $btn-padding-x-lg;
  font-size: $btn-font-size-lg;
  border-radius: $btn-border-radius-lg;
  margin-bottom: $spacer;
}



// Payment icons
.wc-block-components-payment-method-icons {
  display: flex;
  gap: $grid-gutter-width * .25;

  img {

    height: $font-size-base * 1.25;
  }
}
