/*--------------------------------------------------------------
WooCommerce Forms Block
--------------------------------------------------------------*/


// Checks
.wc-block-components-checkbox {
  display: block;
  @extend .form-check;

  input {
    @extend .form-check-input;
  }

  // Hide svg in checkout
  &__mark {
    display: none;
  }
}



// Radios
.wc-block-components-radio-control__option {
  display: block;
  @extend .form-check;

  input {
    @extend .form-check-input;
  }
}


// Form control
.wc-block-components-text-input {
  //@extend .form-floating; 

  input {
    @extend .form-control;
  }
}

textarea.wc-block-components-textarea {
  @extend .form-control;
}


// Quantity
.wc-block-components-quantity-selector {
  @extend .input-group;
  width: 140px;

  // Disable input if product is 1 in stock or limit purchases to 1 item per order in cart page
  [max="1"] {
    @extend :disabled;
  }

  input {
    @extend .form-control;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    // Hide browser arrows in quantity input
    appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
      margin: 0;
    }
  }

  button {
    @extend .input-group-text;
  }

  &__button--minus {
    order: -1;
    margin-right: -1px;
    border-top-left-radius: #{$btn-border-radius} !important;
    border-bottom-left-radius: #{$btn-border-radius} !important;
  }
}

/*
.wc-block-components-quantity-selector__button--minus {
  order: -1;
}
*/
