// Create fake card for totals
.wc-block-components-totals-coupon,
.wc-block-components-totals-item,
//.wp-block-woocommerce-checkout-order-summary-fee-block,
//.wp-block-woocommerce-checkout-order-summary-discount-block,
.wc-block-components-totals-shipping .wc-block-components-shipping-rates-control,
.wc-block-components-shipping-calculator-address {
  border-top: $card-border-width var(--#{$prefix}border-style) $card-border-color;
  border-right: $card-border-width var(--#{$prefix}border-style) $card-border-color;
  border-left: $card-border-width var(--#{$prefix}border-style) $card-border-color;

  padding: $list-group-item-padding-y $card-spacer-x;
}


.wc-block-components-totals-footer-item {
  border-bottom: $card-border-width var(--#{$prefix}border-style) $card-border-color;
  border-bottom-right-radius: $card-border-radius;
  border-bottom-left-radius: $card-border-radius;
  margin-bottom: $spacer;
  color: $card-cap-color;
  background-color: $card-cap-bg;
}





// Totals
// Subtotal
.wc-block-components-totals-item {
  //border-bottom: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
  //margin-bottom: $spacer;
  //padding-bottom: $spacer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //width: 100%;

  &__label {
    //flex-grow: 1;
  }

  &__value {
    font-weight: 700;
  }

  &__description {
    width: 100%;
    //font-size: $small-font-size;
    font-size: small;
    color: var(--#{$prefix}gray-600);
  }





  // Total
  &.wc-block-components-totals-footer-item {


    //border: 1px solid green;
    //font-weight: 700;
    //font-size: 1.25rem;
    .wc-block-components-totals-item {

      &__label,
      &__value {
        //font-size: $font-size-base * 1.25;
        font-weight: 700;
      }

      // Tax
      &__description {
        // width: 100%;
        //text-align: right;
        //font-size: $small-font-size;
        //color: var(--#{$prefix}gray-600);

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}


// Shipping
.wc-block-components-radio-control {
  &__option-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__description {
    font-weight: 700;
  }
}

.wc-block-components-totals-shipping__change-address__link {
  //width: 100%;
  display: block;
  margin-top: $spacer * .25;
  font-size: $font-size-base;
}











// Cart
.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title {
  display: block;
  border-top: $card-border-width var(--#{$prefix}border-style) $card-border-color;
  border-right: $card-border-width var(--#{$prefix}border-style) $card-border-color;
  border-left: $card-border-width var(--#{$prefix}border-style) $card-border-color;

  border-top-right-radius: $card-border-radius;
  border-top-left-radius: $card-border-radius;

  color: $card-cap-color;
  background-color: $card-cap-bg;

  padding: $card-cap-padding-y $card-cap-padding-x;
  font-weight: $headings-font-weight;
}

// Checkout
.wp-block-woocommerce-checkout-order-summary-coupon-form-block .wc-block-components-totals-coupon {
  border-top-right-radius: $card-border-radius;
  border-top-left-radius: $card-border-radius;
}
