/*--------------------------------------------------------------
WooCommerce Checkout Block
--------------------------------------------------------------*/


// Checkout block
.wc-block-components-sidebar-layout.wc-block-checkout {
  @include make-row();
}

.wc-block-components-main.wc-block-checkout__main.wp-block-woocommerce-checkout-fields-block {
  @include make-col-ready();


  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.wc-block-components-sidebar.wc-block-checkout__sidebar.wp-block-woocommerce-checkout-totals-block {

  //order: -1;
  @include make-col-ready();

  @include media-breakpoint-down(lg) {
    order: -1;
  }

  @include media-breakpoint-up(lg) {
    //order: 6;
    @include make-col(4);
  }
}



// Counter steps
.wp-block-woocommerce-checkout-fields-block {
  counter-reset: checkout-steps;

  h2::before {
    counter-increment: checkout-steps;
    content: ''counter(checkout-steps) '. ';
  }
}



.wc-block-components-checkout-step {

  //&__container {
  &__content {
    position: relative;
    padding-left: $spacer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      border-left: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
    }
  }
}

// Payment
.wc-block-checkout__payment-method {
  margin-bottom: $spacer;
}


// Exclude order-notes
.wc-block-checkout__order-notes .wc-block-components-checkout-step__content {
  padding-left: 0;

  &::before {
    content: none;
  }
}

// Order notes
.wc-block-checkout__add-note textarea {
  margin-bottom: $spacer;
}

// Terms
.wc-block-checkout__terms.wp-block-woocommerce-checkout-terms-block {
  margin-bottom: $spacer;
}






.wc-block-components-address-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__country,
  &__state {
    width: 100%;
  }

  @include media-breakpoint-up(md) {

    &__first_name,
    &__last_name,
    &__postcode,
    &__city,
    &__country,
    &__state {
      flex: 0 0 calc(50% - .75rem);
    }
  }
}



.wc-block-components-order-summary {

  &__content {
    //@extend .list-group;
    margin-bottom: $spacer;
  }

  &-item {
    //@extend .list-group-item;
    display: flex;
    padding: $spacer;

    // Summary cart image
    &__image {
      position: relative;
      margin-right: $spacer;
      width: 25%;
      //padding-top: $card-spacer-y;
      //padding-right: $card-spacer-x;
      //padding-bottom: $card-spacer-y;
      //padding-left: $card-spacer-x;

      img {
        border-radius: var(--#{$prefix}border-radius);
        //width: 48px;
        //max-width: 48px;
      }
    }

    // Summary cart badge
    &__quantity {
border-radius: var(--#{$prefix}border-radius-pill);
      /*
  
  // Badge moves to badge.scss
      border-radius: var(--#{$prefix}border-radius-pill);
      display: inline-block;

      padding: $badge-padding-y $badge-padding-x;
      font-size: $badge-font-size;
      font-weight: $badge-font-weight;
      line-height: 1;
      color: $badge-color;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      background-color: var(--#{$prefix}danger);
      */

      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-50%, -50%);

    }

    &__description {
      //padding-top: $card-spacer-y;
      //padding-bottom: $card-spacer-y;
      padding-right: $card-spacer-x;
      width: 50%;

      .wc-block-components-product-name {
        font-weight: 700;
      }

      p {
        margin-bottom: 0;
        font-size: $small-font-size;
      }
    }

    &__individual-price {
      display: block;
    }

    &__total-price {
      text-align: right;
      //margin-left: auto;
      font-weight: 700;
      width: 25%;
    }

  }
}


button.wc-block-components-panel__button {
  //@extend .btn;
  //@extend .btn-outline-primary;
  margin-bottom: 1rem;
  width: 100%;
}


.wc-block-checkout__actions_row {
  display: flex;

  .wc-block-components-checkout-return-to-cart-button {
    margin-right: $spacer * .5;

    svg {
      display: none; // hide arrow
    }
  }

  button.components-button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
    flex-grow: 1;
  }
}
