/*--------------------------------------------------------------
Product
--------------------------------------------------------------*/


// Hide button in alert
.alert .button.wc-forward {
  display: none;
}


// Hide View cart
.cart .added_to_cart.wc-forward {
  display: none;
}

// Hide overlay in product add-to-cart-button 
.cart .blockUI.blockOverlay {
  display: none !important;
}


