/* Hide browser arrows in quantity input */
.woocommerce {
    .quantity {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          display: none;
          margin: 0;
        }
        input.qty {
        appearance: textfield;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        }
    }
}
