/*--------------------------------------------------------------
WooCommerce Single Product Tabs
--------------------------------------------------------------*/

.tab-scroller {
  overflow-x: auto;
  white-space: nowrap;
}

.tab-scroller .nav {
  flex-wrap: nowrap;
  //margin-right: -77px;
  //width: 121%;
}


// Hide scrollbars
.tab-scroller::-webkit-scrollbar {
  display: none;
}

.tab-scroller {
  -ms-overflow-style: none;
}
