/*--------------------------------------------------------------
WooCommerce Single Product Tabs
--------------------------------------------------------------*/

// Make tabs horrizontally scrollable 
.tab-scroller {
  white-space: nowrap;
}

.tab-scroller .nav {
  flex-wrap: nowrap;
}

// Hide scrollbars
.tab-scroller::-webkit-scrollbar {
  display: none;
}

.tab-scroller {
  -ms-overflow-style: none;
}