/*--------------------------------------------------------------
WooCommerce Comments
--------------------------------------------------------------*/

#woo-comments .star-rating {
  float: right;
  margin: 0;
}

#woo-comments .depth-2 {
  padding-left: 65px;
}

#woo-comments p:last-child {
  margin-bottom: 0;
}
