/*--------------------------------------------------------------
WooCommerce Fonts
--------------------------------------------------------------*/

.card .price .woocommerce-Price-amount.amount {
  font-size: 1.25rem;
}

.woocommerce div.product p.price .woocommerce-Price-amount.amount {
  font-size: 2.5rem;
}

.woocommerce-variation-price {
  font-size: 2rem;
}

.woocommerce table.shop_attributes td {
  font-style: normal;
}
