/*--------------------------------------------------------------
WooCommerce Sale Badge
--------------------------------------------------------------*/

.badge.sale {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.25rem;
  z-index: 1;
}
