/*--------------------------------------------------------------
WooCommerce Loop
--------------------------------------------------------------*/

// Hide View cart
.card .added_to_cart.wc-forward {
  display: none;
}

// Star ratings
.card .star-rating {
  float: none;
  margin: 1rem auto;
}

.card .star-rating span::before {
  text-align: left;
}

// Loop link
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link,
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link:hover {
  text-decoration: none;
}