/*--------------------------------------------------------------
WooCommerce Single Product
--------------------------------------------------------------*/

// Quantity and add-to-cart-button
.woocommerce {
  div.product form.cart {
    display: flex;

    div.quantity {
      float: none;
      margin-right: 1rem;
    }
  }

  // Width input field
  .quantity .qty {
    width: 2rem;
  }

  // Add-to-cart-button
  div.product form.cart .btn {
    flex-grow: 1;
  }
}

// Stack quantity and add-to-cart-button in two lines
// WooCommerce breakpoint is at 769px
@media (min-width: 769px) and (max-width: 991px) {
  .woocommerce div.product form.cart {
    flex-wrap: wrap;

    div.quantity {
      margin-right: auto;
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
// Quantity and add to cart button END
