/*--------------------------------------------------------------
Offcanvas Cart
--------------------------------------------------------------*/

#offcanvas-cart {
  // Hide extsting cart-loader in header.php, remove this in v6
  .cart-loader {
    display: none !important;
  }

  .cart-list {
    height: 100%;
  }

  .widget_shopping_cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .woocommerce-mini-cart {
    flex: 1;
    overflow-y: auto;
  }

  // Cart alert
  // Top margin to first alert only. If grouped product one is out of stock there are two alerts.
  .woocommerce-message:first-child {
    margin-top: $modal-inner-padding;
  }

  .woocommerce-message {
    margin-right: $modal-inner-padding;
    margin-left: $modal-inner-padding;
  }
}

// Hide overlay in product add-to-cart-button
.cart .blockUI.blockOverlay {
  display: none !important;
}

// Hide button in alert
.alert .button.wc-forward {
  display: none;
}

// Hide View cart in loop and product pages
.woocommerce a.added_to_cart,
a.added_to_cart {
  display: none;
}