/*--------------------------------------------------------------
WooCommerce Cart
--------------------------------------------------------------*/

// Right align quantity input in mobile
// Woocommerce breakpoint is at 769px
@media (max-width: 768px) {
  .woocommerce-cart-form .product-quantity .quantity {
    margin-left: auto;
  }
}

// Cart totals
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
}

// WooCommerce breakpoints are at 769px
@media (max-width: 768px) {

  // Update cart button
  .shop_table_responsive .actions button:not(.input-group button) {
    width: 100%;
  }

  // Coupon input in cart page
  .woocommerce table.cart td.actions .coupon input,
  .woocommerce-page #content table.cart td.actions .coupon input,
  .woocommerce-page table.cart td.actions .coupon input {
    width: 1%;
  }
}

// Proceed to checkout btn
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  @extend .btn-lg;
  display: block;
}