/*--------------------------------------------------------------
WooCommerce Form Login
--------------------------------------------------------------*/

.woocommerce {

  form.login,
  form.register {
    // Create card
    background: $card-bg;
    border: $card-border-width solid $card-border-color;
    border-radius: $card-border-radius;
    //padding: $card-spacer-y $card-spacer-x;
    padding-top: $card-spacer-y;
    padding-right: $card-spacer-x;
    padding-left: $card-spacer-x;
    margin-bottom: $spacer;
  }

  // Remember me checkbox
  .woocommerce-form-login .woocommerce-form-login__rememberme {
    @extend .form-check;
    display: block;
    margin-bottom: $spacer;

    #rememberme {
      @extend .form-check-input;
    }
  }
}
