/*--------------------------------------------------------------
WooCommerce Prices
--------------------------------------------------------------*/


// Remove underline
ins {
  text-decoration: none;
}


// font-weight
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  font-weight: normal;
}


// Line break for taxes
.woocommerce-price-suffix {
  display: block;
}
