/*--------------------------------------------------------------
WooCommerce Variable Product
--------------------------------------------------------------*/

/*
// Line break after label
table.variations th,
table.variations td {
  display: list-item;
  list-style: none;
}
*/

// Variations select
.woocommerce div.product form.cart .variations select {
  margin-right: 0;
}

.woocommerce div.product form.cart .variations {
  margin-bottom: 0;
}

// Quantity and add-to-cart-button
form.variations_form.cart {
  flex-direction: column;
}

.woocommerce-variation-add-to-cart.variations_button {
  display: flex;
}

// Stack quantity and add-to-cart-button in two lines
// WooCommerce breakpoint is at 769px
@media (min-width: 769px) and (max-width: 991px) {
  .woocommerce-variation-add-to-cart.variations_button {
    display: block;
  }

  form.variations_form.cart .single_add_to_cart_button {
    width: 100%;
  }
}
// Quantity and add to cart button END

// Cursor variable product needs selection
button.single_add_to_cart_button.btn.btn-primary.disabled.wc-variation-selection-needed:hover {
  cursor: not-allowed;
}
