/*--------------------------------------------------------------
WooCommerce My Account
--------------------------------------------------------------*/


// Navigation
.woocommerce-account .woocommerce-MyAccount-navigation {
  float: none;
  width: 100%;
}

// Content
.woocommerce-account .woocommerce-MyAccount-content {
  float: none;
  width: 100%;
}