/*--------------------------------------------------------------
WooCommerce Checkout
--------------------------------------------------------------*/

// Reset coupon collapse
.woocommerce form {

  &.checkout_coupon,
  &.login,
  &.register {
    border: none;
    padding: 0;
    margin: 0;
  }
}


// Create account
.createaccount label.checkbox {
  @extend .form-check;
  //margin-left: $form-check-input-width * 1.5 !important;
}

#createaccount {
  @extend .form-check-input;
}

// Create account password icon
#account_password {
  background-position: right $spacer * 2.25 center;
}


// /checkout/form-shipping.php
#ship-to-different-address {
  @extend .form-check;
  font-size: var(--#{$prefix}body-font-size);
  font-weight: normal;
  line-height: $line-height-base;
  margin-bottom: $spacer;

  label {
    @extend .form-check-label;
  }

  input {
    @extend .form-check-input;
  }
}


// Order notes
.woocommerce form .form-row textarea {
  height: $spacer *7;
  @extend .form-control;
}


// #order_review
// Set shipping table to top
.woocommerce-shipping-totals th {
  vertical-align: top;
}


// #payment
.woocommerce-checkout #payment {

  // Create card
  background: $card-bg;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  padding: $card-spacer-y $card-spacer-x;

  ul.payment_methods {
    border-bottom: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
    padding: 0;
    margin-bottom: $spacer;

    &::after {
      margin-top: $spacer;
    }

    li {
      line-height: inherit;
      padding-left: 0;
      @extend .form-check;

      // Adjust payment method checkboxes
      input {
        @extend .form-check-input;
        margin-right: $form-check-input-width * .5;
        margin-left: 0;
      }

      &:last-child div.payment_box {
        margin-bottom: 0;
      }
    }

    // Payment information
    div.payment_box {
      border-radius: $border-radius;
      font-size: $font-size-base;
    }

    // Hide Paypal img and link
    .payment_method_paypal {

      img,
      .about_paypal {
        display: none;
      }
    }

    // If no payment method is available
    .woocommerce-info {
      margin-bottom: 0;
    }
  }


  // Policy & place-order wrapper
  div.form-row {
    padding: 0;
    margin: 0;
  }

  // Place order button
  #place_order {
    @extend .btn-lg;
    width: 100%;
    margin-bottom: 0 !important; // In case aggregated CSS (Autoptimize)
  }
}


// Adjust checkboxes
.woocommerce form .form-row .input-checkbox {
  margin-left: -$spacer * 1.5 !important;
}


// Terms & conditions collapse box
.woocommerce .woocommerce-terms-and-conditions,
.woocommerce-page .woocommerce-terms-and-conditions {
  border: none;
  box-shadow: none;
  border-radius: $border-radius;
  margin-bottom: $spacer;
  padding: $spacer;
}


// Payment saved cards radios
.woocommerce-SavedPaymentMethods.wc-saved-payment-methods {
  padding-left: 0;

  li {
    @extend .form-check;
    padding-left: 0;

    input {
      @extend .form-check-input;
      width: $form-check-input-width !important; // Override inline-style
      margin-top: ($line-height-base - $form-check-input-width) * .5 !important;
      margin-right: $form-check-input-width * .5 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
    }

    label {
      @extend .form-check-label;
    }
  }
}


// Stripe
// Stripe credit card input
.wc-stripe-elements-field,
.wc-stripe-iban-element-field {
  padding: $input-padding-y $input-padding-x !important;
  background-color: $input-bg !important;
  border-radius: $border-radius;
  border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color) !important;
}


// Save payment information check
.form-row.woocommerce-SavedPaymentMethods-saveNew.woocommerce-validated {
  @extend .form-check;

  input {
    @extend .form-check-input;
    width: $form-check-input-width !important; // Override inline-style
  }

  label {
    color: var(--#{$prefix}body-color) !important;
  }
}


// Terms Checkbox
.woocommerce form .form-row {

  label.checkbox {
    @extend .form-check;
    display: inline-block;
  }

  .input-checkbox {
    @extend .form-check-input;
  }
}

/*
// Form Validation
.woocommerce form .form-row {

  &.woocommerce-validated {


    input.input-text,
    textarea {
      @extend .form-control;
      @extend .is-valid;
    }

    select {
      @extend .form-select;
      @extend .is-valid;
    }

    .form-check-input[type=checkbox] {
      @extend .is-valid;
    }

    label {
      color: var(--#{$prefix}form-valid-color);
    }
  }

  &.woocommerce-invalid {

    input.input-text {
      @extend .form-control;
      @extend .is-invalid;
    }
    
    select {
      @extend .form-select;
      @extend .is-invalid;
    }

    .form-check-input[type=checkbox] {
      @extend .is-invalid;
    }

    label {
      color: var(--#{$prefix}form-invalid-color);
    }
  }
}
*/


// Form Validation
.woocommerce form .form-row {

  &.woocommerce-validated {


    input.input-text,
    textarea,
    select {
      border-color: var(--#{$prefix}form-valid-border-color);

      &:focus {
        box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}success-rgb), $input-btn-focus-color-opacity);
      }

    }

    input.input-text,
    textarea {
      padding-right: $input-height-inner;
    }
    
    select {
      padding-right: $form-select-feedback-icon-padding-end;
    }


    // Icons
    .woocommerce-input-wrapper {
      position: relative;

      &::after {
        content: ' ';
        //display: inline-block;
        position: absolute;
        top: $input-height-inner-quarter;
        right: $input-height-inner-quarter;
        width: $input-height-inner-half;
        height: $input-height-inner-half;
        background-color: var(--#{$prefix}form-valid-color);
        mask-position: center;
        mask-repeat: no-repeat;
        mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      }
    }



    .form-check-input[type=checkbox] {
      background-color: var(--#{$prefix}form-valid-color);
      border-color: var(--#{$prefix}form-valid-color);

      &:focus {
        box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}success-rgb), $input-btn-focus-color-opacity);
      }
    }

    label {
      color: var(--#{$prefix}form-valid-color);
    }
  }

  &.woocommerce-invalid {

    input.input-text,
    textarea,
    select {
      border-color: var(--#{$prefix}form-invalid-border-color);

      &:focus {
        box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}danger-rgb), $input-btn-focus-color-opacity);
      }
    }

    .form-check-input[type=checkbox] {
      border-color: var(--#{$prefix}form-invalid-color);

      &:focus {
        box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}danger-rgb), $input-btn-focus-color-opacity);
      }
    }

    label {
      color: var(--#{$prefix}form-invalid-color);
    }
  }
}
