/*--------------------------------------------------------------
WooCommerce Checkout
--------------------------------------------------------------*/

// Reset coupon collapse
.woocommerce form {

  &.checkout_coupon,
  &.login,
  &.register {
    border: none;
    padding: 0;
    margin: 0;
  }
}


// Hide Paypal img and link
#payment .payment_method_paypal img,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  display: none;
}


// Override WC border-radius: 5px; in #payment card
#add_payment_method #payment,
.woocommerce-cart #payment {
  border-radius: $border-radius;
}


// Set shipping table to top
.woocommerce-shipping-totals th {
  vertical-align: top;
}


// Terms & conditions collapse box
.woocommerce .woocommerce-terms-and-conditions,
.woocommerce-page .woocommerce-terms-and-conditions {
  border: none;
  box-shadow: none;
  border-radius: $border-radius;
  margin-bottom: $spacer;
  padding: $spacer;
}


// Payment box
.woocommerce-checkout #payment div.payment_box {
  border-radius: $border-radius;
  font-size: $font-size-base;
}


// Payment saved cards radios
.woocommerce-SavedPaymentMethods.wc-saved-payment-methods {
  padding-left: 0;

  li {
    @extend .form-check;
    padding-left: 0;

    input {
      @extend .form-check-input;
      width: $form-check-input-width !important; // Override inline-style
      margin-top: ($line-height-base - $form-check-input-width) * .5 !important;
      margin-right: $form-check-input-width * .5 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
    }

    label {
      @extend .form-check-label;
    }
  }
}


// Stripe credit card input
.wc-stripe-elements-field,
.wc-stripe-iban-element-field {
  @extend .form-control;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: $spacer !important;
  margin-left: 0 !important;
  padding-top: $input-padding-y !important;
  padding-right: $input-padding-x !important;
  padding-bottom: $input-padding-y !important;
  padding-left: $input-padding-x !important;
}


// Save payment inrormation check
.form-row.woocommerce-SavedPaymentMethods-saveNew.woocommerce-validated {
  @extend .form-check;

  input {
    @extend .form-check-input;
    width: $form-check-input-width !important; // Override inline-style
  }

  label {
    @extend .form-check-label;
    cursor: pointer;
  }

}


// Adjust terms checkboxes
.woocommerce form .form-row .input-checkbox {
  margin-top: ($line-height-base - $form-check-input-width) * .5 !important;
  margin-right: $form-check-input-width * .5 !important;
  margin-bottom: 0 !important;
  margin-left: -$spacer * 1.5 !important;
}


// Place order button
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  width: 100%;
  //margin-top: $spacer;
  margin-bottom: 0;
  //float: none;
}







// Create card
.woocommerce-checkout #payment {
  background: $card-bg;
  //border-width: $card-border-width;
  //border-color: $card-border-color;
  //border-radius: $card-border-radius;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  padding: $card-spacer-y $card-spacer-x;
  
}


.woocommerce-checkout #payment ul.payment_methods {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  padding: 0;
  margin-bottom: $spacer;
}

.woocommerce-checkout #payment div.form-row {
  padding: 0;
  margin: 0;
}

.woocommerce-checkout #payment ul.payment_methods li {
  line-height: inherit;
}


// Adjust payment checkboxes
.woocommerce-checkout #payment ul.payment_methods li input {
  margin-top: ($line-height-base - $form-check-input-width) * .5;
  margin-right: $form-check-input-width * .5;
  margin-bottom: 0;
  margin-left: -$spacer * 1.5;
}