/*--------------------------------------------------------------
WooCommerce Shipping
--------------------------------------------------------------*/

// Shipping radios
.woocommerce {

  ul#shipping_method {

    li {
      @extend .form-check;

      input {
        @extend .form-check-input;
      }

      label {
        @extend .form-check-label;
      }

      // Remove padding if radio is hidden
      &:has(input[type="hidden"]) {
        padding-left: 0;
      }
    }
  }
}


// Update button
.shipping-calculator-form button {
  width: 100%;
}
