/*--------------------------------------------------------------
WooCommerce Checkout
--------------------------------------------------------------*/

// Reset coupon collapse
.woocommerce form {
  &.checkout_coupon,
  &.login,
  &.register {
    border: none;
    padding: 0;
    margin: 0;
  }
}

// Hide Paypal img and link
#payment .payment_method_paypal img,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  display: none;
}

// Terms & conditions collapse box
.woocommerce .woocommerce-terms-and-conditions,
.woocommerce-page .woocommerce-terms-and-conditions {
  border: none;
  box-shadow: none;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 1rem;
}

// Adjust terms checkboxes
.woocommerce form .form-row .input-checkbox {
  margin: 0.25em 0 0 -1.5rem;
  vertical-align: top;
}

// Place order button
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  margin-bottom: 0;
}

button#place_order {
  width: 100%;
  margin-top: 1rem;
}
