/*--------------------------------------------------------------
WooCommerce Cart
--------------------------------------------------------------*/

// Cart totals
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
}


// WooCommerce breakpoints are at 769px
@media (max-width: 768px) {

  // Right align quantity input in mobile
  .woocommerce-cart-form .product-quantity .quantity {
    margin-left: auto;
  }

  // Coupon input in cart page
  .woocommerce table.cart td.actions .coupon input,
  .woocommerce-page #content table.cart td.actions .coupon input,
  .woocommerce-page table.cart td.actions .coupon input {
    width: 1%;
  }

  // Update cart button
  .shop_table_responsive .actions button:not(.input-group button) {
    width: 100%;
  }

  // Shipping
  .woocommerce .cart-collaterals {

    ul#shipping_method {
      clear: both;
      text-align: left;
      //margin: 2rem 0 0 0 !important;
      margin-top: $spacer *2;
    }

    .woocommerce-shipping-destination {
      text-align: left;
    }

    .woocommerce-shipping-calculator {
      text-align: left;
    }
  }
}


// Proceed to checkout btn
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  @extend .btn-lg;
  display: block;
}
