/*--------------------------------------------------------------
WooCommerce Temporary Unsorted
--------------------------------------------------------------*/





/*
// Grid
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: none;
  width: 100%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: none;
  width: 100%;
}
*/


/*
@include media-breakpoint-down(md) {
  .refresh-cart {
    width: 100%;
    background: green !important;
    background-color: green !important;
  }
}
*/

/*
label.custom-control-label {
  line-height: 1.5 !important;
}
*/


/*
#payment label.form-check-label img {
  height: 1.25rem;
  margin-left: 0.25rem;
}
*/





.woocommerce-price-suffix {
  display: block;
}

ins {
  text-decoration: none;
}


.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  font-weight: normal;
}

