/*--------------------------------------------------------------
Offcanvas Cart
--------------------------------------------------------------*/

#offcanvas-cart {
  .cart-list {
    height: 100%;
  }

  .widget_shopping_cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .woocommerce-mini-cart {
    flex: 1;
    overflow-y: auto;
  }
}

// Cart loader
.cart-loader {
  top: 56px;
  z-index: 1;

  .loader-icon {
    margin-top: -56px;
  }
}

#offcanvas-cart {
  .cart-loader {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    transition-delay: 0.1s;
  }

  &.loading .cart-loader {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s, visibility 0s;
  }
}
