/*--------------------------------------------------------------
WooCommerce Sale Badge
--------------------------------------------------------------*/

.woocommerce span.onsale {
  @extend .badge;
  background-color: var(--bscore-wc-sale, var(--#{$prefix}danger));
  min-height: inherit;
  min-width: inherit;
  top: $spacer;
  left: $spacer;
}
