/*--------------------------------------------------------------
WooCommerce Cart
--------------------------------------------------------------*/

// Right align quantity input in mobile
// Woocommerce breakpoint is at 769px
@media (max-width: 768px) {
  .woocommerce-cart-form .product-quantity .quantity {
    margin-left: auto;
  }
}

// Cart totals
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
}

// Update cart button
// WooCommerce breakpoints are at 769px
@media (max-width: 768px) {
  .shop_table_responsive .actions button:not(.input-group button) {
    width: 100%;
  }
}
