/*--------------------------------------------------------------
WooCommerce Comments
--------------------------------------------------------------*/

// Star rating
#woo-comments .star-rating {
  float: right;
  margin: 0;
}

// Nested comments
#woo-comments .depth-2 {
  padding-left: 65px;
}

.woocommerce #reviews h3 {
  margin-bottom: $spacer * .5,;
}