/*--------------------------------------------------------------
WooCommerce Form Login
--------------------------------------------------------------*/

.woocommerce {

  // Remember me checkbox
  &-form-login__rememberme {
    @extend .form-check;
    width: 100%;
    margin-bottom: $spacer;

    #rememberme {
      @extend .form-check-input;
    }
  }


  // Remove form-login padding on mobile devices
  // WooCommerce breakpoint is at 769px
  @media (max-width: 769px) {

    form.checkout_coupon,
    form.login,
    form.register {
      .form-row-first {
        padding-right: 0;
      }

      .form-row-last {
        padding-left: 0;
      }
    }
  }
}
